{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended",
    "plugin:jsx-a11y/strict",
    "plugin:react/jsx-runtime"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["react", "jsx-a11y", "@typescript-eslint"],
  "rules": {
    "react-hooks/exhaustive-deps": "warn",
    "no-var": "warn",
    "brace-style": "warn",
    "prefer-template": "warn",
    "radix": "warn",
    "space-before-blocks": "warn",
    "import/prefer-default-export": "off",
    "prettier/prettier": "warn"
  },
  "overrides": [
    {
      "files": [
        "**/*.test.js",
        "**/*.test.jsx",
        "**/*.test.tsx",
        "**/*.spec.js",
        "**/*.spec.jsx",
        "**/*.spec.tsx"
      ],
      "env": {
        "jest": true
      }
    }
  ]
}
